<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About Base</title>
</head>
<body>
	<section>
		<h1>this is new about section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
			architecto explicabo aliquid obcaecati iusto libero quasi quas
			incidunt odit placeat labore consequuntur iste. In voluptatum ducimus
			voluptates nostrum consequuntur modi architecto eos mollitia quod.</p>
	</section>
</body>
</html>