<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Conditional statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional statement in Thymeleaf</h1>
	
	<!-- Elvis Operator -->
	<h1>User is <span th:style="${isActive} ? 'color:green': 'color:red' " th:text="${isActive} ? 'Active' : 'Not Active'"></span></h1>
	
	<!-- if-unless -->		
	<h1 th:if="${gender}=='M'">Male </h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	
	<!-- switch case -->	
	<div th:switch="${#lists.size(mylist)}">
	
	
			<h1 th:case="'0'">List contain zero element</h1>
	
			<h1 th:case="'1'">List contain one element</h1>
		
			<h1 th:case="*">List contain more then one elements</h1>
	</div>
</body>
</html>