<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>
<link rel="stylesheet" href=""  th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

	<div class="container">
		<img class="profile" src="" th:src="@{image/ak.jpg}" alt="" />
		<h1>Adding css, javascript and image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil
			distinctio quos impedit laborum nam voluptatem earum maxime fuga nisi
			voluptates ex at praesentium neque beatae eveniet repellat architecto
			officiis incidunt culpa corrupti aperiam quibusdam quae. Magnam quas
			animi aliquam dolor praesentium ullam iusto laudantium sed hic. Sed
			repudiandae in dolores!</p>
	</div>
	<script src="" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>